*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

.ip-sec{
    background-image: url(../images/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 200px;
    color: #fff;
}

.elements{
    position: relative;
    max-width: 280px;
    margin: auto;
}

::placeholder{
    padding-left: 8px;
    font-size: 15px;
    color: hsl(0, 0%, 17%);
}
.ip-icon{
    padding: 5px;
    min-width: 280px;
    height: 5vh;
    border-radius: 10px;
    border: none;
}
.ip-btn{
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(0, 0%, 17%);
    width: 33px;
    height: 5vh;
    left: 66vw;
    border: none;
    border-radius: 0 10px 10px 0;
    position: absolute;
    cursor: pointer;
}

/* RESULTS */
.map-result{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.ip-results{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    background-color: #fff;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    height: 180px;
    position: relative;
    z-index: 1000;
    padding: 30px;
}

.info-block{
    border-bottom: 1px solid;
    height: 80px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
}
.info-block-last{
    border-bottom: none;
}
.muted-title{
    font-size: 10px;
    text-transform: uppercase;
}
span.results{
    font-weight: 500;
    color: #2b2b2b;
    font-size: 14px;
}

/* map */
#map{
    margin-top: -90vh;
    width: 100%;
    height: 600px;
}
.leaflet-control-zoom, .leaflet-bar,.leaflet-control{
    top: 35vh;
}
@media only screen and (min-width: 1000px){
    .ip-sec{
        background-image: url(../images/pattern-bg-desktop.png);
    }

    ::placeholder{
        padding-left: 14px;
        font-size: 18px;
    }
    .elements{
        width: 350px;
    }
    .ip-icon{
        width: 30vw;
        height: 5vh;
    }
    .ip-btn{
        width: 46px;
        height: 5.25vh;
        left: 28vw;
        top: -1px;
    }
    .map-result{
        width: 100%;
        height: 600px;
    }
    .ip-results{
        width: 50vw;
        height: 100px;
        margin: 10 26vw;
        margin-top: 10px;
    }
    .muted-title{
        font-size: 12px;
    }
    span.results{
        font-size: 15px;
    }
    #map{
        width: 100%;
        height: 400px;
        margin-top: -105vh;
    }

}

@media only screen and (min-width: 1438px){
    #map{
        margin-top: -67vh;
        height: 680px;
    }

}